{% load static %}
{% include 'partials/header.html' %}

<body>
    <table>
        {% include 'partials/login-admin.html' %}
        <tr>
            <td></td>
            <td><center><h1>CALENDÁRIO</h1></center><br><br></td>
        </tr>
        <tr>
            <td></td>
            <td><section>
                <div>
                    <h6> NOME DO EVENTO </h6>
                    <h3>{{ calendario.nome_evento }}</h3>
                    <br><br>
                    <h6> INFORMAÇÕES EVENTO </h6>
                    <h4> {{ calendario.informacoes_evento }} </h4>
                    <br>
                    <h6> DATA EVENTO </h6>
                    <h4> {{ calendario.data_evento }} </h4>
                    <br>
                    {% if calendario.imagem_evento %}
                    <h6> IMAGEM EVENTO </h6>
                    <div class="container"><img src="{{ calendario.imagem_evento.url }}"/></div>
                    <br>
                    {% endif %}
                    <h6> CATEGORIA EVENTO </h6>
                    {% for categoria in categorias %}
                    {% if categoria.id == calendario.categoria_evento %}
                    <h4> {{ categoria.nome_categoria }} </h4>
                    <br>
                    {% endif %}
                    {% endfor %}
                    <h6> DATA ATUALIZAÇÃO </h6>
                    <h4> {{ calendario.data_atualizacao }} </h4>
                    <br>
                </div>
            </section>
            </td>
        </tr>
    </table>
    <style type="text/css" id="container">
        .container img {
            max-width: 100%;
            max-height:60%;
            width: auto;
            height: auto;
        }
        .container {
            clear: both;
            margin-top: 20px;
        }
        img {
            vertical-align: top
        }
    </style>
{% include 'partials/footer.html' %}