{% load static %}
{% include 'partials/header.html' %}
<body>
    <table>
        {% include 'partials/login-admin.html' %}
        <tr>
            <td></td>
            <td><center><h1>{{ categoria.nome_categoria }}</h1></center><br><br></td>
        </tr>
        <tr>
            <td></td>
            <td><section>
                <div>
                    {% if calendarios %}
                    {% for calendario in calendarios %}
                    {% if calendario.categoria_evento == categoria.id %}
                </div>
                <div>
                <a href="{% url 'calendario' calendario.id %}">
                <h6>{{calendario.nome_evento}}</h6>
                </a>
                </div>
                </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </section></td>        
        </tr>
    </table>
{% include 'partials/footer.html' %}