<label for="nome_evento"><b> Nome do Evento</b></label>
<input type="text" class="form-control" name="nome_evento" placeholder="Ex.:Nome do Evento" required>
<label for="link_1"><b> Link 1 </b></label>
<input type="text" class="form-control" name="link_1" placeholder=" adicione um link aqui " required>
<label for="arquivo_1"><b> Arquivo 1 </b></label>
<input type="file" class="form-control" name="arquivo_1" placeholder="adicione um arquivo" required>
<label for="ano"><b> Ano </b></label>
<input type="number" class="form-control" name="ano" placeholder="2022" required>