<label for="nome_evento"><b>Nome do Evento</b></label>
<input type="text" class="form-control" name="nome_evento" placeholder="Ex.:Nome do Evento" required>
<label for="link_1"><b>Link 1 </b></label>
<input type="text" class="form-control" name="link_1" placeholder="Link 1" required>
<label for="link_2"><b>Link 2 </b></label>
<input type="text" class="form-control" name="link_2" placeholder="Link 2">
<label for="link_3"><b>Link 3 </b></label>
<input type="text" class="form-control" name="link_3" placeholder="Link 3">