<label for="nome_do_professor"><b>Nome do Professor</b></label>
<input type="text" class="form-control" name="nome_do_professor" placeholder="Ex.:Fulano de Tal" required>
<label for="email"><b>Email do Professor </b></label>
<input type="email" class="form-control" name="email" placeholder="fulano@ifrs.com.br" required>
<label for="nome_da_disciplina"><b>Nome da Disciplina </b></label>
<input type="text" class="form-control" name="nome_da_disciplina" placeholder="Ex.:Lógica de Programação" required>