<label for="modalidade_do_curso"><b>Modalidade do Curso</b></label>
<input type="text" class="form-control" name="modalidade_do_curso" placeholder="Ex.: Superior" required>
<label for="nome_do_curso"><b>Nome do Curso </b></label>
<input type="text" class="form-control" name="nome_do_curso" placeholder="Ex.: TADS" required>
<label for="ano"><b> Ano </b></label>
<input type="number" class="form-control" name="ano" placeholder="2022" required>
<label for="semestre"><b> Semestre </b></label>
<input type="number" class="form-control" name="semestre" placeholder="2" required>
<label for="link_1"><b>Link 1 </b></label>
<input type="text" class="form-control" name="link_1" placeholder="Link 1" required>