<label for="nome_evento"><b> Nome do Evento</b></label>
<input type="text" class="form-control" name="nome_evento" placeholder="Ex.:Nome do Evento" required>
<label for="descricao"><b>Descrição:</b></label><br>
<textarea  cols="80" rows="8" id="descricao" name="descricao" class="form-control" placeholder="Ex.: Aqui você pode inserir uma descrição mais detalhada sobre inscrição ou matrícula." required></textarea><br>
<label for="link_1"><b> Link 1 </b></label>
<input type="text" class="form-control" name="link_1" placeholder=" adicione um link aqui " required>
<label for="link_2"><b> Link 2 </b></label>
<input type="text" class="form-control" name="link_2" placeholder=" adicione um link aqui (opcional) ">
<label for="link_3"><b> Link 3 </b></label>
<input type="text" class="form-control" name="link_3" placeholder=" adicione um link aqui (opcional) ">
<label for="arquivo_1"><b> Arquivo 1  </b>opcional</label>
<input type="file" class="form-control" name="arquivo_1">
<label for="arquivo_2"><b> Arquivo 2 </b>opcional</label>
<input type="file" class="form-control" name="arquivo_2">
<label for="arquivo_3"><b> Arquivo 3 </b>opcional</label>
<input type="file" class="form-control" name="arquivo_3">