<label for="modalidade_do_curso"><b>Modalidade do Curso</b></label>
<input type="text" class="form-control" name="modalidade_do_curso" placeholder="Ex.: Superior" required>
<label for="nome_do_curso"><b>Nome do Curso </b></label>
<input type="text" class="form-control" name="nome_do_curso" placeholder="Ex.: TADS" required>
<label for="data_de_inicio"><b>Data de Início </b></label>
<input type="date" class="form-control" name="data_de_inicio" placeholder="Ex.: 21/01/2023" required>
<label for="data_de_fim"><b>Data do Fim </b></label>
<input type="date" class="form-control" name="data_de_fim" placeholder="Ex.: 29/01/2023" required>
<label for="link_1"><b> Link 1 </b></label>
<input type="text" class="form-control" name="link_1" placeholder=" adicione um link aqui " required>
<label for="link_2"><b> Link 2 </b></label>
<input type="text" class="form-control" name="link_2" placeholder=" adicione um link aqui (opcional) ">
<label for="link_3"><b> Link 3 </b></label>
<input type="text" class="form-control" name="link_3" placeholder=" adicione um link aqui (opcional) ">