<label for="modalidade_do_curso"><b>Modalidade do Curso</b></label>
<input type="text" class="form-control" name="modalidade_do_curso" placeholder="Ex.: Superior" required>
<label for="nome_do_curso"><b>Nome do Curso </b></label>
<input type="text" class="form-control" name="nome_do_curso" placeholder="Ex.: TADS" required>
<label for="descricao"><b>Descrição:</b></label><br>
<textarea  cols="80" rows="8" id="descricao" name="descricao" class="form-control" placeholder="Ex.: Aqui você pode inserir uma descrição mais detalhada deste curso:" required></textarea><br>
<label for="forma_de_ingresso"><b> Forma de Ingresso </b></label>
<input type="text" class="form-control" name="forma_de_ingresso" placeholder="Ex.: ENEM" required>
<label for="requisitos"><b>Requisitos:</b></label><br>
<textarea  cols="80" rows="8" id="requisitos" name="requisitos" class="form-control" placeholder="Ex.: Ter concluído o ensino fundamental." required></textarea><br>
<label for="turno"><b> Turno </b></label>
<input type="text" class="form-control" name="turno" placeholder="Ex.: Noturno" required>
<label for="numero_de_vagas"><b> Número de Vagas </b></label>
<input type="number" class="form-control" name="numero_de_vagas" placeholder="Ex.: 50" required>
<label for="coordenador_do_curso"><b> Coordenador do Curso </b></label>
<input type="text" class="form-control" name="coordenador_do_curso" placeholder="Ex.: Coordenador Fulano de Tal" required>
<label for="email_do_coordenador"><b>Email do Coordenador </b></label>
<input type="email" class="form-control" name="email_do_coordenador" placeholder="fulano@ifrs.com.br" required>
<label for="email_do_curso"><b>Email do Curso </b></label>
<input type="email" class="form-control" name="email_do_curso" placeholder="cursotal@ifrs.com.br" required>