<label for="nome_do_sistema"><b> Nome do Sistema </b></label>
<input type="text" class="form-control" name="nome_do_sistema" placeholder="Ex.: SIA " required>
<label for="descricao"><b>Descrição:</b></label><br>
<textarea  cols="80" rows="8" id="descricao" name="descricao" class="form-control" placeholder="Ex.: Aqui você pode descrever melhor o que se trata:" required></textarea><br>
<label for="link_1"><b> Link 1 </b></label>
<input type="text" class="form-control" name="link_1" placeholder=" adicione um link aqui " required>
<label for="link_2"><b> Link 2 </b></label>
<input type="text" class="form-control" name="link_2" placeholder=" adicione um link aqui (opcional) ">
<label for="arquivo_1"><b> Arquivo 1  </b>opcional</label>
<input type="file" class="form-control" name="arquivo_1">
<label for="arquivo_2"><b> Arquivo 2 </b>opcional</label>
<input type="file" class="form-control" name="arquivo_2">