{% load static %}
{% include 'partials/header.html' %}
<body>
    {% include 'partials/login-admin.html' %}
    <table>
        <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td></td></tr>
        <tr><td></td>
            <td><center><h1>LISTA DE ENDPOINTS</h1></center></td><br><br>
        </tr>
        <tr><td><br><br></td><td><br><br></td></tr>
        <tr>
            <td></td>
            <td><a href="./eventos">TODOS EVENTOS</a><br><br><br>

                <a href="./comprovante_de_matricula">COMPROVANTE DE MATRÍCULA</a><br><br><br>
                
                <a href="./contato_dos_professores">CONTATO DOS PROFESSORES</a><br><br><br>
                
                <a href="./grade_de_horarios">GRADE DE HORÁRIOS</a><br><br><br>
                
                <a href="./calendario_academico">CALENDÁRIO ACADÊMICO</a><br><br><br>
                
                <a href="./informacoes_relevantes_dos_cursos">INFORMAÇÕES RELEVANTES DOS CURSOS</a><br><br><br>
                
                <a href="./informacoes_sobre_inscricao_ou_matricula">INFORMAÇÕES SOBRE INSCRIÇÃO OU MATRÍCULA</a><br><br><br>
                
                <a href="./informacoes_sobre_rematricula">INFORMAÇÕES SOBRE REMATRÍCULA</a><br><br><br>
                
                <a href="./requerimentos_ou_formularios">REQUERIMENTOS OU FORMULÁRIOS</a><br><br><br>
                
                <a href="./tutoriais_de_acessos_a_sistemas_academicos">TUTORIAIS DE ACESSOS A SISTEMAS ACADÊMICOS</a><br><br><br>
            </td>
        </tr>
</table>
{% include 'partials/footer.html' %}