{% load static %}
{% include 'partials/header.html' %}
<body>
    {% include 'partials/login-admin.html' %}
    <table>
        <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td></td></tr>
        <tr>
            <td></td>
            <td><center><h1>TODOS EVENTOS</h1></center><br><br></td>
        </tr>
        <tr>
            <td></td>
            <td><section>
                <div>
                    {% include 'partials/organizador.html' %}
                </div>
            </section></td>
        </tr>
    </table>
{% include 'partials/footer.html' %}